<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="fq" connectionString="Server =.;uid=fq;pwd=123456;database=student"/>
    <add name="Sqlstr" connectionString="Server=.;uid=sa;pwd=sa;database=student"/>
    <add name ="sa" connectionString="Server=.;uid=sa;pwd=123456;database=student"/>
  </connectionStrings>
</configuration>